* {
box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    height: 1300px;
    left: 0;
    font-family: "Heebo";
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to bottom, rgba(79, 84, 115), rgba(43, 32, 50)), url(img/nukers.png);
    background-repeat:repeat-x;
}

@font-face {
  font-family: "Heebo", serif;
  src: url("fonts/Heebo-VariableFont_wght.woff2");
  font-weight: 400;
  font-style: normal;
} 

.header {
    width: 100%;
    height: 80px;
    background-color: #212126/*#47484b*/; 
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 1px 1px 10px black;
    
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 30px;
    
}

.header-logo-container a {
    text-decoration: none;
    color: aliceblue; 
    font-size: 30px;
    margin-left: 10px;
}

.header-logo {
    height: 60px;
    width: 80px;
    margin-top: 10px;
}

input {
    background-color: #171c26;
    font-size: 20px;
    pointer-events: "all";
    padding: 0.3cm;
    white-space: nowrap;
    overflow-wrap:normal;
    text-decoration:none;
    position: absolute;
    border: 1px;
    border-radius: 10px;
    left: 40%;
    width: 500px;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #212126/*#171717#3c3f41*/;
    z-index: 2;
    box-shadow: 1px 1px 10px 1px black;
}

.sidebar-block {
    display: block;
    border: 1px solid #333333;
    
}

.sidebar-block h2 {
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.sidebar-block-item {
    display: block;    
    border: 1px white; 
}

.sidebar-block-item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.sidebar-block-item a:hover {
    background-color: gray;
    transition: 0.7s
}

.sidebar-block-item img {
    margin: 2px 15px 5px 5px;
    height: 35px;
    width: 45px;
}

.main-part {
    position: relative;
    margin-top: 70px;
    margin-left: 250px;

}

.info-block {
    height: 430px;
    width: 300px;
    position: absolute;
    left: 80%;
    top: 150px;
    border-radius: 5px;
    background-color: #212126;
    display: block;
    box-shadow: 1px 5px 6px black;
        
}

.info-block h2 {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid white;
}

.info-block-container {
    display: block;
}

.info-block-item {
    width: auto;
    height: auto;
    display: inline-flex;
    
}

.info-block-container img {
    width: 50px;
    height: 50px;
    
}

.info-block-container a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.info-block-container a:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}

.info-block-container div {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}

.info-block-button {
    font-size: 20px;
    pointer-events: "all";
    margin: 15px;
    white-space: nowrap;
    overflow-wrap:normal;
    text-decoration:none;
    position: relative;
    left:25%;
    border: 1px solid black;
    background-color: mintcream;
    transition: transform 0.5s;
}

.info-block-button:hover {
    color: black;
    background-color: gray;
    transition: 0.5s;
    
}


.info-block-item img {
    width: 45px;
    height: 45px;
    margin: 24px 24px 5px;     
}

h5 {
    font-size: 15px;
    margin: 10px
}

.hub-block {
    position: relative;
    top: 700px;
    display: inline-block;
    margin: 10px;
    left: 10px;
    
}

.hub-block-container {
    width: 760px;
    height: 230px;
    display: flex;
    box-shadow: 1px 5px 6px black;
    border-radius: 25px;
    background-color: #212126;
    
    
}

.hub-block-card {
    height: 150px;
    width: 150px;
    margin: 20px;
    text-align: left;
    background-color: #333333;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 5px 6px black;
    transition: transform 0.5s;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 60px;
}


.hub-block-card:hover {
    transform: translateY(-10px);
    transition: 0.5s;
    
}

.image-card-button img {
    width: 140px;
    height: 100px;
    
}

.card-name {
    
    height: 40px;
    width: 150px;
    background-color: #282831;
    border-radius: 1px 1px 10px 10px;
    border-top: 3px solid white;
    border-color: #363642;
    position: relative;
    left: -5px;
    margin-top: 5px

}

h6 {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.hub-block-name {
    position: relative;
    top: -100px;
    left: 500px;
    text-align: center;
}

h3 {
    position: absolute;
    color: white;
    font-size: 20px;
    text-align: center;
    left: 0;
    right: 0;
    border-bottom: 2px solid white;
    background-color: aqua;
    
}

.hub-name-container {
    position: absolute;
    text-align: center;
    height: 40px;
    width: 760px;
    background-color: red;
    border-bottom:3px solid darkred;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-content: center;
    align-items: center;
    padding-top: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    
}

.footer {

    position:sticky;
    width: 100%;
    height: 70px;
    background: #212126;
    top: 100%;
    bottom: 0;
    z-index: 2;
    margin-bottom: -6px;
    
}
